extends layout

block content
    p Schema:
    ul
        each col in schema
            li
                | #{col.name}
                if col.dataType
                    | : #{col.dataType}
    p Row count: #{all_rows.length}
    table
        tr
            th= name
        if all_rows.length > 0
            each row in all_rows
                tr
                    td= JSON.stringify(row)
        else
            tr.error: td Empty
    p
        a(href="..") < Back to Tables
    
